<% @title = ("Univercity - %s" % seguids) %>

        <div class="row wrapper border-bottom page-heading fondo_verde">
            <div class="col-lg-12" style="padding: 40px 0;">
                <center>
                    <h1 style="font-weight: 900;font-size: -webkit-xxx-large; color: black"><%= @perfil.username.capitalize %></h1>
                </center>
            </div>
        </div>
            
        <div style="margin: 0 0 20px 220px;">
            
            <nav class="navbar navbar-inverse" style="margin-bottom: 0;border-radius: 0;border-top: 1px solid #81F7F3;">
                  <div class="container-fluid">
                    <ul class="nav navbar-nav" id="segunda">
                      <li><%= link_to 'Posts', perfiles_path, method: :get %></li>
                        <% if session[:id] == @perfil.id_usuario %>
                            <li><%= link_to "Seguidos", "/seguids/seguidos/#{session[:id]}", class: "#{ "active" if seguids == "Seguidos"}", method: :get %></li>
                        <% else %>
                            <li><%= link_to "Seguidos", "/seguids/seguidos/#{params[:id]}", class: "#{ "active" if seguids == "Seguidos"}", method: :get %></li>
                        <% end %>
                        <% if session[:id] == @perfil.id_usuario %>
                            <li><%= link_to "Seguidores", "/seguids/seguidores/#{session[:id]}", class: "#{ "active" if seguids == "Seguidores"}", method: :get %></li>
                        <% else %>
                            <li><%= link_to "Seguidores", "/seguids/seguidores/#{params[:id]}", class: "#{ "active" if seguids == "Seguidores"}", method: :get %></li>
                        <% end %>
                    
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    <% if session[:id] == @perfil.id_usuario %>
                                        
                        <li><%= link_to 'Editar Perfil', perfiles_mi_perfil_editar_path, method: :get %></li>
                                        
                    <% else %>
                                            
                        <li><%= link_to 'Enviar Mensaje', "/mensaje/redactar_mensaje?user=#{@perfil.id_usuario}", method: :get %></li>
                                            
                        <% unless @seguidores.include? session[:id] %>
                                            
                            <li><%= link_to 'Seguir', "/seguids/seguir/#{params[:id]}" , method: :post %></li>
                                            
                        <% else %>
                                            
                            <li><%= link_to 'Dejar Seguir', "/seguids/dejar_de_seguir/#{params[:id]}", method: :post %></li>
                                            
                        <% end %>
                                        
                    <% end %>
                    </ul>
                  </div>
            </nav>    
        </div>
       
            
        <div style="position: fixed;top: 60px;left: 10px;padding: 5px;border-radius: 5px;background-color: black;">
            <%= ('<img  width="200" height="200" class="img-responsive" id="%s" alt="%s" src="data:%s;base64,%s">' % [@imagen_perfil.id, @imagen_perfil.filename, @imagen_perfil.tipo, @imagen_perfil.data]).html_safe %>
        </div>
        <div style="margin: 0 0 0 220px;">
            <% @perfiles.each do |datos| %>
                <div class="col-lg-3">
                    <div class="contact-box" style="background-color: #E7FFFF;padding: 5px;">
                        <%= link_to perfile_path(datos.perfil.id_usuario.to_i), method: :get do %>
                            <div class="col-sm-6">
                                <div class="text-center">
                                    <%= ('<img class="m-t-xs img-responsive" id="%s" alt="%s" src="data:%s;base64,%s">' % [datos.imagen.id, datos.imagen.filename, datos.imagen.tipo, datos.imagen.data]).html_safe %>
                                    <div class="m-t-xs font-bold"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h3><strong><%= datos.perfil.username.capitalize %></strong></h3>
                                
                                <% unless session[:id] == datos.perfil.id_usuario.to_i %>
                                    <% unless @seguidos.include? datos.perfil.id_usuario.to_i %>
                                            
                                            <%= link_to '<i class="fa fa-user-plus"></i> Seguir'.html_safe, "/seguids/seguir/#{params[:id]}", class: 'btn btn_seguir btn-warning btn-sm' , method: :post %>

                                    <% else %>
                                            
                                            <%= link_to '<i class="fa fa-user-times"></i> No Seguir'.html_safe, "/seguids/dejar_de_seguir/#{params[:id]}", class: 'btn fondo_verde_oscuro btn-sm' , method: :post %>

                                    <% end %>
                                <% else %>
                                    <br>    
                                <% end %>
                                
                            </div>
                            <div class="clearfix"></div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
